version: "3.9"

services:
  nodejs:
    build: .
    container_name: nodejs
    expose:
      - "3000"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "3030:3030"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nodejs
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
